<!DOCTYPE html>
<html>

<body>
    <img src="https://firebasestorage.googleapis.com/v0/b/pfhenry-f1185.appspot.com/o/8f5d9073-fcae-498d-927f-68c90413b5da.jpg?alt=media&token=34e6e4b7-5c9a-47bf-9e42-0e77c7ab41bb" alt="Imagen de usuario creado">
    <h1>Hello, {{ name }}! Bienvenido a nuestra gran plataforma de compra y ventas de servicios </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit neque dicta facilis dolorem. Nam natus
        officiis vero quisquam dolorem quia blanditiis ullam iure consequatur alias, nostrum quae! Nulla,
        necessitatibus!</p>
</body>

</html>