<html>
  <body>
    <img
      src='https://gcdn.emol.cl/humor/files/2016/11/memes-de-perros-1.jpg'
      alt='Transaccion realizada'
    />
    <h1>Notificación de Venta</h1>
    <p>¡Hola vendedor!</p>
    <p>Tu servicio ha sido vendido en una transacción.</p>
    <p>Detalles de la transacción:</p>
    <ul>
      <li>ID de la venta: {{sale_id}}</li>
      <li>Comprador: {{buyer_name}}</li>
      <li>Email del comprador: {{buyer_email}}</li>
      <li>Monto total: ${{totalAmount}}</li>
    </ul>
    <p>Por favor, ponte en contacto con el comprador lo antes posible para
      coordinar los detalles de la entrega y/o servicio.</p>
    <p>¡Gracias por tu venta!</p>
    <p>¡Que tengas un excelente día!</p>
  </body>
</html>